#content {
 padding: 3px;
}

header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
 padding: 15px 25px;
}

body {
  font-family: Futura, Trebuchet MS;
  font-weight: condensed;
  color: black;
  font-size: 25px;
  padding: 15px 25px;
}

h1{
  font-family: Futura, Trebuchet MS;
  font-weight: condensed;
  color: black;
  font-size: 40px;
  padding: 15px 25px;
}

footer{
 font-family: Futura. Trebuchet MS;
 font-weight: condensed;
 color: black;
 font-size: 25px;
 padding: 15px 25px;
}

p{
 padding: 15px 25px;
}

#WPI{
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#main_nav ul {
	list-style: none;
	padding: 0;
	margin: 10px;
	font-weight: bold;
}
 
#main_nav ul li {
	background-color: #fff;
	border: 1px solid #999;
	color: #222;
	display: block;
	margin-bottom: -1px;
	padding: 12px 10px;
}
 
#main_nav ul li a{
	text-decoration: none;
  }
  
/* add traditional rounded corners to the navigation menu*/

#main_nav li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
 
#main_nav li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

